@charset "utf-8";
/* CSS Document */

* { box-sizing: border-box; }


body{
	padding-top: 70px;
}

/* MASONRY GRID */
.masonry-grid:after{
	content: '';
	display: block;
	clear: both;
}
#container, #container-v, #container-b{
	background-color: #FFF;
	margin: 0 auto;
}

.not-loaded {
	opacity: 0;
}

.grid-sizer, .grid-item, .grid-item-v, .grid-item-b{
	width: 32%;
}

.grid-item, .grid-item-v, .grid-item-b{
	float: left;
}

.grid-item{
	margin-bottom:5px;
}

.grid-item-b{
	margin-bottom:5px;
	margin-right: 5px;
	border:1px #000 solid;
}

.grid-item-v{
	margin-bottom:10px;
	border:1px #000 solid;
}

.grid-item img,p{
	max-width: 100%;
	display: block;
}
.grid-item-b img{
	max-width: 100%;
	display: block;
}

.grid-item-v video{
	max-width: 100%;
	display: block;
}
.grid-item-b img:hover{
	opacity:0.75;
}

.page-load-status {
	display: none; /* hidden by default */
	padding-top: 20px;
	border-top: 1px solid #DDD;
	text-align: center;
	color: #777;
}


/* loader-ellips
------------------------- */

.loader-ellips {
	font-size: 20px;
	position: relative;
	width: 4em;
	height: 1em;
	margin: 10px auto;
}

.loader-ellips__dot {
	display: block;
	width: 1em;
	height: 1em;
	border-radius: 0.5em;
	background: #555;
	position: absolute;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
	left: 0;
}
.loader-ellips__dot:nth-child(3) { left: 1.5em; }
.loader-ellips__dot:nth-child(4) { left: 3em; }

@keyframes reveal {
	from { transform: scale(0.001); }
	to { transform: scale(1); }
}

@keyframes slide {
	to { transform: translateX(1.5em) }
}

.loader-ellips__dot:nth-child(1) {
	animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
	animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
	animation-name: reveal;
	animation-direction: reverse;
}

/* loader-wheel
------------------------- */

.loader-wheel {
	font-size: 64px; /* change size here */
	position: relative;
	height: 1em;
	width: 1em;
	padding-left: 0.45em;
	overflow: hidden;
	margin: 0 auto;
	animation: loader-wheel-rotate 0.5s steps(12) infinite;
}

.loader-wheel i {
	display: block;
	position: absolute;
	height: 0.3em;
	width: 0.1em;
	border-radius: 0.05em;
	background: #333; /* change color here */
	opacity: 0.8;
	transform: rotate(-30deg);
	transform-origin: center 0.5em;
}

/*

@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){
	.grid-sizer {
		width: 400px;
	}
	.grid-item{
		width:400px;
	}
}
 
@media only screen and (max-width : 799px),
only screen and (max-device-width : 799px){
	.grid-sizer {
		width: 600px;
	}
	.grid-item{
		width:50%;
	}
}

@media only screen and (max-width : 999px),
only screen and (max-device-width : 999px){
	.grid-sizer {
		width: 800px;
	}
	.grid-item{
		width:33%;
	}
 
}

@media only screen and (max-width : 1199px),
only screen and (max-device-width : 1199px){
	.grid-sizer {
		width: 1000px;
	}
	.grid-item{
		width:25%;
	}

}

@media only screen and (max-width : 1399px),
only screen and (max-device-width : 1399px){
	.grid-sizer {
		width: 1200px;
	}
	.grid-item{
		width:25%
	}
}

*/
