@charset "utf-8";
/* CSS Document */

* { box-sizing: border-box; }


body{
	padding-top: 70px;
	font-family: Arial, Helvetica, sans-serif;
}

/* MASONRY GRID */
.masonry-grid:after{
	content: '';
	display: block;
	clear: both;
}
#container, #container-v, #container-b, #container-SC{
	background-color: #FFF;
	margin: 0 auto;
}

.not-loaded {
	opacity: 0;
}

.grid-sizer, .grid-item, .grid-item-v, .grid-item-b{
	width: 32%;
}

.grid-sizer2, .grid-item2{
	width: 48%;
}

.grid-item, .grid-item-v, .grid-item-b, .grid-item2{
	float: left;
}

.grid-item{
	margin-bottom:5px;
}

.grid-item2{
	margin-bottom:5px;
	margin-right:5px;
}
.grid-item2 img{
	max-width: 100%;
	display: block;
	cursor:pointer;
}

.grid-item-b{
	margin-bottom:5px;
	margin-right: 5px;
	border:1px #000 solid;
}

.grid-item-v{
	margin-bottom:10px;
	border:1px #000 solid;
}

.grid-item img,p{
	width:100%;
	max-width: 100%;
	display: block;
	cursor:pointer;
}
.grid-item-b img{
	max-width: 100%;
	display: block;
}

.grid-item-v video{
	max-width: 100%;
	display: block;
}
.grid-item-b img:hover{
	opacity:0.75;
}
.grid-item img:hover{
	opacity:0.75;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 15px; /* Location of the box */
    left: 0;
    top: 0;
   	max-width:100%;
	max-height:100%;
	overflow:auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}


/* Modal Content (image) */
.modal-content {
    margin:auto;
	width:33%;
	display: block;
	max-width:700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 5px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {webkit-transform:scale(0)} 
    to {webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #ffffff;
    font-size: 70px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
 



/*

@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){
	.grid-sizer {
		width: 400px;
	}
	.grid-item{
		width:400px;
	}
}
 
@media only screen and (max-width : 799px),
only screen and (max-device-width : 799px){
	.grid-sizer {
		width: 600px;
	}
	.grid-item{
		width:50%;
	}
}

@media only screen and (max-width : 999px),
only screen and (max-device-width : 999px){
	.grid-sizer {
		width: 800px;
	}
	.grid-item{
		width:33%;
	}
 
}

@media only screen and (max-width : 1199px),
only screen and (max-device-width : 1199px){
	.grid-sizer {
		width: 1000px;
	}
	.grid-item{
		width:25%;
	}

}

@media only screen and (max-width : 1399px),
only screen and (max-device-width : 1399px){
	.grid-sizer {
		width: 1200px;
	}
	.grid-item{
		width:25%
	}
}

*/
