@charset "utf-8";
/* CSS Document */

* { box-sizing: border-box; }


/* MASONRY GRID */
.masonry-grid:after{
	content: '';
	display: block;
	clear: both;
}
#container{
	background-color: #FFF;
}

.grid-sizer,
.grid-item{
	width:32%;
}

.grid-item{
	float: left;
	margin-bottom:5px;
}

.grid-item img,p{
	max-width: 100%;
	display: block;
}
 


/*

@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){
	.grid-sizer {
		width: 400px;
	}
	.grid-item{
		width:400px;
	}
}
 
@media only screen and (max-width : 799px),
only screen and (max-device-width : 799px){
	.grid-sizer {
		width: 600px;
	}
	.grid-item{
		width:50%;
	}
}

@media only screen and (max-width : 999px),
only screen and (max-device-width : 999px){
	.grid-sizer {
		width: 800px;
	}
	.grid-item{
		width:33%;
	}
 
}

@media only screen and (max-width : 1199px),
only screen and (max-device-width : 1199px){
	.grid-sizer {
		width: 1000px;
	}
	.grid-item{
		width:25%;
	}

}

@media only screen and (max-width : 1399px),
only screen and (max-device-width : 1399px){
	.grid-sizer {
		width: 1200px;
	}
	.grid-item{
		width:25%
	}
}

*/
